* {
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
    box-sizing: border-box;
  }
  .footer {
    margin: 0px;
    width: 100%;
    padding: 100px 10%;
    color: aliceblue;
    background-color: black;
    display: flex;
  }
  .footer div {
    text-align: start;
  }
  
  .col-4 {
    margin-left: 20%;
  }
  .col-4 h3 {
    text-align: start;
  }
  .footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }
  .col-1 a :hover{
    color: blue;
    opacity: 0.8;
}

  
  .col-1 a {
    display: block;
    text-decoration: none;
    color: antiquewhite;
    margin-bottom: 10px;
    text-align: start;
  }
  .col-2 a  {
    display: block;
    text-decoration: none;
    color: antiquewhite;
    margin-bottom: 10px;
    text-align: start;
  }
  .col-2 h3 {
    text-align: start;
  }
  .col-2 {
    text-align: start;
    margin-left: 100px;
  }
  
  form input {
    width: 200px;
    height: 25px;
    border-radius: 4px;
    text-align: center;
    outline: none;
    border: none;
  }
  
  form button  {
    background: rgb(107, 107, 214);
    border: 2px solid #fff;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;

  }
  .col-3 p {
    text-align: start;
    align-items: center;
  }
  .col-3 h3 {
    text-align: start;
  }
  .col-3 {
    margin-left: 100px;
  }
  
  
  .fa {
    padding-top: 30px;
    width: 30px;
    text-decoration: none;
  }
  .fa-facebook:hover {
    color: rgb(0, 81, 255);
    opacity: 0.7;
  }
  .fa-pinterest:hover {
    color: red;
    opacity: 0.7;
  }
  .fa-instagram:hover {
    color: palevioletred;
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: transparent;
    color: white;
  }
  .fa-pinterest {
    background: transparent;
    color: white;
  }
  .fa-instagram {
    background: transparent;
    color: white;
  }

  